body {
    font-family: 'Times New Roman', Times, serif;
   color: rgb(0, 0, 0);
    background-color: rgb(238, 131, 60)
}
h1 {
    font-size: 45px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entete {
    padding-bottom: 300px;
    margin-bottom: -300px;
    font-size: 45px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image:url('../images/joliot.jpeg');
    background-size: 700px 500px;
    background-repeat: no-repeat;
}
img {
    display:block;
    margin-left: auto;
    margin-right: 100px;
}
 h2 { font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
 }
 
 p {font-size: 20px;
 }
 
 h4{font-size: 35px;
      color: rgb(173, 21, 130);
    }


 